@model IEnumerable<ParkingModel>

@Html.ActionLink("Edit", "Edit", new { }, new { @class = "btn btn-primary btn-sm" })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Updated
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Spots</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })

                    @if (User.Identity.Name == item.User.Name)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
